/* HEADER SECTION */

.bg {
    background-color: #1414141f;
}

.header-text {
    max-width: 400px;
    padding-top: 70px;
    padding-bottom: 60px;
    margin-top: 10px;
}

.circle,
.line1,
.line2,
.line3,
footer,
nav ul li::after {
    background: #000;
}

.laptop {
    margin-bottom: 100px;
}

.laptop .content {
    margin-top: 80px;
    margin-bottom: 80px;
}

.laptop img {
    width: 330px;
    height: 330px;
    margin-right: 20px;
    height: 100%;
}

p {
    padding: 20px 0;
    max-width: 700px;
}